%drop-container {
  & {
    display: flex;
    flex-direction: column;
    margin-left: 56px;
    width: 496px;
    height: 149px;
    border-radius: 2px;
  }
}

.drop-container-full {
  @extend %drop-container;
  justify-content: center;
  align-items: center;
  background: #f6f7fa;
  border: 2px solid #d3e2d0;
}

.drop-container-empty {
  @extend %drop-container;
  background: #f6f7fa;
  border: 1px dashed #cccccc;

  .drop-container-input {
    width: 496px;
    height: 149px;
  }
  .drop-ment1 {
    position: absolute;
    margin-top: 60px;
    margin-left: 143px;
    font-weight: 400;
    font-size: 20px;
  }
  .drop-ment2 {
    position: absolute;
    margin-top: 95px;
    margin-left: 221px;
    font-weight: 400;
    font-size: 16px;
    color: #a9abb8;
  }
  button {
    margin-top: 129px;
    margin-left: 228px;
    background-image: url('../assets/AddBtn.png');
    border: none;
    width: 40px;
    height: 40px;
  }
}
