.left-side-bar-root{
  width: 244px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .main-logo{
    background-image: url("../assets/MainLogo.svg");
    width: 125px;
    height: 85px;
    margin: 56px 50px 56px 50px;
  }

  .group-list{
    height: calc(100% - 321px);
    display: flex;
    flex-direction: column;
  }


  .group-add-button{
    background-image: url("../assets/GroupAddButton.svg");
    width: 40px;
    height: 40px;
    margin-bottom: 84px;
  }
}
